/* You can add global styles to this file, and also import other style files */

* { margin: 0vw; padding: 0vw; }

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.pageLayout {
  width: 90vw;
  margin: 0 auto;

  .cardsContent {
    display: inline-flex;
    width: 30vw;
    height: 10vw;
    margin: 3vw 0vw 0.5vw 0vw;

    .mat-mdc-card {
      position: relative;
      width: 92%;
      height: 100%;
      margin: 0 auto;
      padding: 1vw;
      text-align: center;

      &:hover {
        border: 0.1vw solid #5ab7c2;
        color: #0096a7;
        transition: 0.2s;
      }

      .mdc-button {
        position: absolute;
        right: 1.5vw;
        bottom: 1.5vw;

        &:hover {
          background: #3ec7d6;
          transition: 0.2s;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}


/*:host ::ng-deep .mdc-button:hover .mat-mdc-button, .mat-mdc-outlined-button {
  --mat-mdc-button-persistent-ripple-color: transparent !important;*/
  /* --mat-mdc-button-ripple-color: rgba(0, 0, 0, 0.1); */
/*}*/




//Fonts Used:

@font-face {
  font-family: 'Fusskia_Regular';
  src: url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.eot);
  src: url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.otf) format('otf'), url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.svg#Fusskia_Regular%20Demo) format('svg'), url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.ttf) format('truetype'), url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.woff) format('woff'), url(./assets/fonts/Fusskia-Regular/Fusskia_Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'MASQUE__';
  src: url(./assets/fonts/MASQUE/MASQUE__.eot);
  src: url(./assets/fonts/MASQUE/MASQUE__.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/MASQUE/MASQUE__.otf) format('otf'), url(./assets/fonts/MASQUE/MASQUE__.svg#MASQUE__) format('svg'), url(./assets/fonts/MASQUE/MASQUE__.ttf) format('truetype'), url(./assets/fonts/MASQUE/MASQUE__.woff) format('woff'), url(./assets/fonts/MASQUE/MASQUE__.woff2) format('woff2');
}


